##########################################################
# Copyright (C), 2008-2018, OPLUS Mobile Comm Corp., Ltd
# VENDOR_EDIT
# File: init.oplus.se.rc
#
# Description:
#	Definitions for init.oplus.se.rc.
#
# Version: 1.0
# Date created: 2019/07/25
# Author: Yong.Chen@SE.Se
#
# --------------------------- Revision History: ------------------------------------
# <version>		<date>		<author>		<desc>
# Revision 1.0		2019/07/25	Yong.Chen@SE.Se	Created
#######################################################

#ifdef COLOROS_EDIT
#Yong.Chen@SE.Se, 2018/12/08, Add for record to file of receiving kevent action
on post-fs-data
    mkdir /data/oplus/kevent 0775 system system
    mkdir /data/oppo/log/DCS/kevent 0777 system system

service oplus_kevents /system/system_ext/bin/oplus_kevent
    class late_start
    user system
    group root system
# endif /* COLOROS_EDIT */
